# To run:
# ansible-playbook playbooks/jovian-prod/apps-prod.yml -i inventories/eos-v2.yml --become-password-file=credentials/ansible_eos_password.txt
# To Test:
# ansible-playbook playbooks/jovian-prod/apps-prod.yml --check -i inventories/eos-v2.yml --become-password-file=credentials/ansible_eos_password.txt
---
- name: Run the configured Jovian Prod apps task files
  hosts: jupiter-01
  remote_user: ansible
  become: true
  vars_files:
    - ../../vars/jovian-prod/secrets.yml

  tasks:
    - name: Import and execute app deployment tasks
      ansible.builtin.include_tasks:
        file: "{{ task_list }}"
      loop:
        # - ../../tasks/jovian-prod/iperf3.yml
        # - ../../tasks/jovian-prod/tautulli.yml
        # - ../../tasks/jovian-prod/cloudflare-tunnel.yml
        # - ../../tasks/jovian-prod/qbittorrent.yml
        # - ../../tasks/jovian-prod/openspeedtest.yml
        # - ../../tasks/jovian-prod/arrstack.yml
        # - ../../tasks/jovian-prod/plex.yml
        # - ../../tasks/jovian-prod/overseerr.yml
        # - ../../tasks/jovian-prod/promtail.yml
        # - ../../tasks/jovian-prod/pterodactyl-panel.yml
        # - ../../tasks/jovian-prod/jellyfin.yml
        # - ../../tasks/jovian-prod/freshrss.yml
        # - ../../tasks/jovian-prod/homarr.yml
        # - ../../tasks/jovian-prod/grafana.yml
        # - ../../tasks/jovian-prod/uptime-kuma.yml
        # - ../../tasks/jovian-prod/mkvtoolnix.yml
        # - ../../tasks/jovian-prod/filebrowser.yml
        # - ../../tasks/jovian-prod/ghost.yml
        # - ../../tasks/jovian-prod/immich.yml
        # - ../../tasks/jovian-prod/littlelink-server.yml
        - ../../tasks/jovian-prod/portainer.yml
      loop_control:
        loop_var: task_list
