.DS_Store
*id_rsa*
Ansible/credentials/
*.cert
*.key
*up.conf
EOS-Cluster/Docker-Swarm/Dashboards/Homepage_configs/services.yaml
*secrets.env
Ansible/playbooks/swarm/media_cephfs.yaml
EOS-Cluster/Docker-Swarm/Media/Management/kometa_configs/config.yml
EOS-Cluster/Docker-Swarm/Media/Management/kometa_configs/logs/
EOS-Cluster/Docker-Swarm/Media/Management/kometa_configs/config.cache
EOS-Cluster/Docker-Swarm/Media/Management/kometa_configs/UUID
Ansible/playbooks/swarm/docker_secrets.yaml
Ansible/vars
Ansible/playbooks/jovian-prod/helm_values/*.yml
