.DS_Store
*id_rsa*
Ansible/credentials/
Ansible/playbooks/docker_secrets.yaml
*.cert
*.key
telegraf*.conf
EOS-Cluster/Docker-Swarm/Observability/Collectors/up.conf
EOS-Cluster/Docker-Swarm/Dashboards/Homepage_configs/services.yaml
*secrets.env
Ansible/playbooks/media_cephfs.yaml
