---
- name: Install the required packages for Crowdsec
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - curl
      - gnupg
      - debian-archive-keyring

- name: Run cwowdsec install script
  ansible.builtin.shell: |
    curl -s https://packagecloud.io/install/repositories/crowdsec/crowdsec/script.deb.sh | sudo bash

- name: Install Crowdsec
  ansible.builtin.apt:
    name: crowdsec
    update_cache: yes

- name: Install Crowdsec iptables firewall bouncer
  ansible.builtin.apt:
    name: crowdsec-firewall-bouncer-iptables