---
- name: Create ArrStack Deployment
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: arrstack
        namespace: jovian-prod
        labels:
          app: arrstack
          service: media-backend
      spec:
        progressDeadlineSeconds: 600
        replicas: 1
        revisionHistoryLimit: 3
        selector:
          matchLabels:
            app: arrstack
        strategy:
          type: Recreate
        template:
          metadata:
            labels:
              app: arrstack
          spec:
            nodeSelector:
              connection: vpn
            containers:
            - name: bazarr
              image: ghcr.io/hotio/bazarr:latest
              imagePullPolicy: Always
              ports:
              - containerPort: 6767
                name: bazarr-http
                protocol: TCP   
              volumeMounts:
              - name: bazarr-config
                mountPath: /config
              - name: nfs-media
                mountPath: /nfs-media
              env:
              - name: TZ
                value: 'America/Chicago'
              - name: PUID
                value: '1000'
              - name: PGID
                value: '1000'
              - name: UMASK
                value: '002'
            - name: prowlarr
              image: ghcr.io/hotio/prowlarr:latest
              imagePullPolicy: Always
              ports:
              - containerPort: 9696
                name: prowlarr-http
                protocol: TCP   
              volumeMounts:
              - name: prowlarr-config
                mountPath: /config
              env:
              - name: TZ
                value: 'America/Chicago'
              - name: PUID
                value: '1000'
              - name: PGID
                value: '1000'
              - name: UMASK
                value: '002'
            - name: radarr
              image: ghcr.io/hotio/radarr:latest
              imagePullPolicy: Always
              ports:
              - containerPort: 7878
                name: radarr-http
                protocol: TCP   
              volumeMounts:
              - name: radarr-config
                mountPath: /config
              - name: nfs-media
                mountPath: /nfs-media
              env:
              - name: TZ
                value: 'America/Chicago'
              - name: PUID
                value: '1000'
              - name: PGID
                value: '1000'
              - name: UMASK
                value: '002'
            - name: sonarr
              image: ghcr.io/hotio/sonarr:latest
              imagePullPolicy: Always
              ports:
              - containerPort: 8989
                name: sonarr-http
                protocol: TCP   
              volumeMounts:
              - name: sonarr-config
                mountPath: /config
              - name: nfs-media
                mountPath: /nfs-media
              env:
              - name: TZ
                value: 'America/Chicago'
              - name: PUID
                value: '1000'
              - name: PGID
                value: '1000'
              - name: UMASK
                value: '002'
            - name: flaresolverr
              image: ghcr.io/flaresolverr/flaresolverr:latest
              imagePullPolicy: Always
              ports:
              - containerPort: 8191
                name: flare-tcp
                protocol: TCP   
              env:
              - name: TZ
                value: 'America/Chicago'
            - name: cleanuparr
              image: ghcr.io/cleanuparr/cleanuparr:latest
              imagePullPolicy: Always
              ports:
              - containerPort: 11011
                name: cleanuparr-tcp
                protocol: TCP   
              env:
              - name: TZ
                value: 'America/Chicago'
              volumeMounts:
              - name: cleanuparr-config
                mountPath: /config
            volumes:
            - name: bazarr-config
              persistentVolumeClaim:
                claimName: bazarr-pvc
                readOnly: false
            - name: prowlarr-config
              persistentVolumeClaim:
                claimName: prowlarr-pvc
                readOnly: false
            - name: radarr-config
              persistentVolumeClaim:
                claimName: radarr-pvc
                readOnly: false
            - name: sonarr-config
              persistentVolumeClaim:
                claimName: sonarr-pvc
                readOnly: false
            - name: cleanuparr-config
              persistentVolumeClaim:
                claimName: cleanuparr-pvc
                readOnly: false
            - name: nfs-media
              persistentVolumeClaim:
                claimName: arrstack-smb-media-pvc
                readOnly: false

- name: Create ArrStack Service
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: service
      metadata:
        name: arrstack-service
        namespace: jovian-prod
      spec:
        selector:
          app: arrstack
        ports:
          - port: 6767
            targetPort: bazarr-http
            protocol: TCP
            name: bazarr-http
          - port: 9696
            targetPort: prowlarr-http
            protocol: TCP
            name: prowlarr-http
          - port: 7878
            targetPort: radarr-http
            protocol: TCP
            name: radarr-http
          - port: 8989
            targetPort: sonarr-http
            protocol: TCP
            name: sonarr-http
          - port: 8191
            targetPort: flare-tcp
            protocol: TCP
            name: flare-tcp
          - port: 11011
            targetPort: cleanuparr-tcp
            protocol: TCP
            name: cleanuparr-tcp

- name: Create ArrStack Ingress
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: arrstack-ingress
        namespace: jovian-prod
      spec:
        rules:
          - host: bazarr.jovian.local.sch-apps.com
            http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name:  arrstack-service
                      port:
                        number: 6767
          - host: prowlarr.jovian.local.sch-apps.com
            http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name:  arrstack-service
                      port:
                        number: 9696
          - host: radarr.jovian.local.sch-apps.com
            http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name:  arrstack-service
                      port:
                        number: 7878
          - host: sonarr.jovian.local.sch-apps.com
            http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name:  arrstack-service
                      port:
                        number: 8989
          - host: cleanuparr.jovian.local.sch-apps.com
            http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name:  arrstack-service
                      port:
                        number: 11011


- name: Create Bazarr PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: bazarr-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: k8s-cephfs
        resources:
          requests:
            storage: 5Gi

- name: Create Prowlarr PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: prowlarr-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: k8s-cephfs
        resources:
          requests:
            storage: 1Gi

- name: Create Radarr PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: radarr-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: k8s-cephfs
        resources:
          requests:
            storage: 5Gi

- name: Create Sonarr PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: sonarr-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: k8s-cephfs
        resources:
          requests:
            storage: 5Gi

- name: Create Cleanuparr PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: cleanuparr-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: k8s-cephfs
        resources:
          requests:
            storage: 5Gi

# https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md#option2-pvpvc-usage
- name: Create the arrstack SMB PV
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        annotations:
          pv.kubernetes.io/provisioned-by: smb.csi.k8s.io
        name: arrstack-smb-media
      spec:
        capacity:
          storage: 72Ti
        accessModes:
          - ReadWriteMany
        persistentVolumeReclaimPolicy: Retain
        storageClassName: smb-csi-media
        mountOptions:
          - dir_mode=0777
          - file_mode=0777
        csi:
          driver: smb.csi.k8s.io
          # volumeHandle format: {smb-server-address}#{sub-dir-name}#{share-name}
          # make sure this value is unique for every share in the cluster
          volumeHandle: 192.168.100.162/media
          volumeAttributes:
            source: //192.168.100.162/media
          nodeStageSecretRef:
            name: smb-media-manangers
            namespace: jovian-prod

- name: Create arrstack SMB PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: arrstack-smb-media-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteMany
        storageClassName: smb-csi-media
        resources:
          requests:
            storage: 72Ti
        volumeName: arrstack-smb-media
