---
- name: Create overseerr Deployment
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: overseerr
        namespace: jovian-prod
        labels:
          app: overseerr
          service: media-backend
      spec:
        progressDeadlineSeconds: 600
        replicas: 1
        revisionHistoryLimit: 3
        selector:
          matchLabels:
            app: overseerr
        strategy:
          type: Recreate
        template:
          metadata:
            labels:
              app: overseerr
          spec:
            nodeSelector:
              connection: vpn
            containers:
            - name: overseerr
              image: ghcr.io/hotio/overseerr
              imagePullPolicy: IfNotPresent
              ports:
              - containerPort: 5055
                name: overseerr-http
                protocol: TCP   
              volumeMounts:
              - name: config
                mountPath: /config
              - name: nfs-media
                mountPath: /nfs-media
                readOnly: true
              env:
              - name: TZ
                value: 'America/Chicago'
              - name: PUID
                value: '1000'
              - name: PGID
                value: '1000'
              - name: UMASK
                value: '002'
            volumes:
            - name: config
              persistentVolumeClaim:
                claimName: overseerr-pvc
                readOnly: false
            - name: nfs-media
              persistentVolumeClaim:
                claimName: overseerr-nfs-media-pvc
                readOnly: true

- name: Create overseerr Service
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: service
      metadata:
        name: overseerr-service
        namespace: jovian-prod
      spec:
        selector:
          app: overseerr
        ports:
          - port: 5055
            targetPort: overseerr-http
            protocol: TCP
            name: overseerr-http

- name: Create overseerr Ingress
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: overseerr-ingress
        namespace: jovian-prod
      spec:
        rules:
          - host: overseerr.jovian.local.sch-apps.com
            http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name:  overseerr-service
                      port:
                        number: 5055

- name: Create overseerr PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: overseerr-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: k8s-cephfs
        resources:
          requests:
            storage: 1Gi

- name: Create the overseerr NFS Media PV
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        annotations:
          pv.kubernetes.io/provisioned-by: nfs.csi.k8s.io
        name: overseerr-nfs-media
      spec:
        capacity:
          storage: 72Ti
        accessModes:
          - ReadWriteOnce
        persistentVolumeReclaimPolicy: Retain
        storageClassName: nfs-csi-media
        csi:
          driver: nfs.csi.k8s.io
          volumeHandle: 192.168.100.162/var/nfs/shared/media
          volumeAttributes:
            server: 192.168.100.162
            share: /var/nfs/shared/media

- name: Create overseerr NFS PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: overseerr-nfs-media-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: nfs-csi-media
        resources:
          requests:
            storage: 72Ti
        volumeName: overseerr-nfs-media
