---
- name: Create Plex Prod Deployment
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: plex
        namespace: jovian-prod
      spec:
        progressDeadlineSeconds: 600
        replicas: 1
        revisionHistoryLimit: 3
        selector:
          matchLabels:
            app: plex
        strategy:
          type: Recreate
        template:
          metadata:
            labels:
              app: plex
          spec:
            runtimeClassName: nvidia
            nodeSelector:
              gpu: rtx4060
            containers:
            - name: plex
              image: plexinc/pms-docker:latest
              imagePullPolicy: IfNotPresent
              securityContext:
                privileged: true
              ports:
              - containerPort: 32400
                name: plex
                protocol: TCP
              - containerPort: 32410
                name: plex-gdm-1
                protocol: UDP
              - containerPort: 32412
                name: plex-gdm-2
                protocol: UDP
              - containerPort: 32413
                name: plex-gdm-3
                protocol: UDP
              - containerPort: 32414
                name: plex-gdm-4
                protocol: UDP       
              volumeMounts:
              - name: config
                mountPath: /config
              - name: nfs-media
                mountPath: /nfs-media
                readOnly: true
              - name: plex-transcode
                mountPath: /transcode
              - name: dev-dri
                mountPath: /dev/dri
                readOnly: true
              env:
              - name: ADVERTISE_IP
                value: 'http://192.168.6.220:32430/'
              - name: ALLOWED_NETWORKS
                value: 192.168.6.0/24,192.168.2.0/26,192.168.100.0/24
              - name: PLEX_CLAIM
                value: "{{ PLEX_CLAIM }}"
              - name: PLEX_UID
                value: "1000"
              - name: PLEX_GID
                value: "1000"
              - name: HOSTNAME
                value: plex
              - name: NVIDIA_VISIBLE_DEVICES 
                value: "all"
              - name: NVIDIA_DRIVER_CAPABILITIES
                value: compute,video,utility
            volumes:
            - name: config
              persistentVolumeClaim:
                claimName: plex-pvc
                readOnly: false
            - name: plex-transcode
              hostPath:
                path: /dev/shm
            - name: dev-dri
              hostPath:
                path: /dev/dri
            - name: nfs-media
              persistentVolumeClaim:
                claimName: plex-smb-media-pvc
                readOnly: true

- name: Create Plex Prod PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: plex-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: k8s-cephfs
        resources:
          requests:
            storage: 30Gi

- name: Create Plex Prod Service
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: plex
        namespace: jovian-prod
        annotations:
          metallb.io/address-pool: prod-pool
          metallb.io/loadBalancerIPs: 192.168.6.220
      spec:
        externalTrafficPolicy: Local
        ports:
        - port: 32430
          targetPort: plex
          name: plex
          protocol: TCP
        - port: 32410
          targetPort: plex-gdm-1
          name: plex-gdm-1
          protocol: UDP
        - port: 32412
          targetPort: plex-gdm-2
          name: plex-gdm-2
          protocol: UDP
        - port: 32413
          targetPort: plex-gdm-3
          name: plex-gdm-3
          protocol: UDP
        - port: 32414
          targetPort: plex-gdm-4
          name: plex-gdm-4
          protocol: UDP
        selector:
          app: plex
        type: LoadBalancer

# https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md#option2-pvpvc-usage
- name: Create the plex SMB PV
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        annotations:
          pv.kubernetes.io/provisioned-by: smb.csi.k8s.io
        name: plex-smb-media
      spec:
        capacity:
          storage: 72Ti
        accessModes:
          - ReadWriteMany
        persistentVolumeReclaimPolicy: Retain
        storageClassName: smb-csi-media
        mountOptions:
          - dir_mode=0777
          - file_mode=0777
        csi:
          driver: smb.csi.k8s.io
          # volumeHandle format: {smb-server-address}#{sub-dir-name}#{share-name}
          # make sure this value is unique for every share in the cluster
          volumeHandle: 192.168.100.162/media
          volumeAttributes:
            source: //192.168.100.162/media
          nodeStageSecretRef:
            name: smb-media-manangers
            namespace: jovian-prod

- name: Create plex SMB PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: plex-smb-media-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteMany
        storageClassName: smb-csi-media
        resources:
          requests:
            storage: 72Ti
        volumeName: plex-smb-media
