---
- name: Create portainer Deployment
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: portainer
        namespace: jovian-prod
        labels:
          app: portainer
          service: management
      spec:
        progressDeadlineSeconds: 600
        replicas: 1
        revisionHistoryLimit: 3
        selector:
          matchLabels:
            app: portainer
        strategy:
          type: Recreate
        template:
          metadata:
            labels:
              app: portainer
          spec:
            nodeSelector:
              connection: standard
            containers:
            - name: portainer
              image: portainer/portainer-ce:lts
              imagePullPolicy: IfNotPresent
              ports:
              - containerPort: 9443
                name: portainer-http
                protocol: TCP
              volumeMounts:
              - name: config
                mountPath: /data
              env:
              - name: TZ
                value: 'America/Chicago'
              - name: PUID
                value: '1000'
              - name: PGID
                value: '1000'
            volumes:
            - name: config
              persistentVolumeClaim:
                claimName: portainer-pvc
                readOnly: false

- name: Create portainer LB Service
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: service
      metadata:
        name: portainer-service
        namespace: jovian-prod
        annotations:
          metallb.io/address-pool: prod-pool
          metallb.io/loadBalancerIPs: 192.168.6.230
      spec:
        externalTrafficPolicy: Local
        ports:
        - port: 9443
          targetPort: portainer-http
          name: portainer-http
        selector:
          app: portainer
        type: LoadBalancer

- name: Create portainer PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: portainer-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: k8s-cephfs
        resources:
          requests:
            storage: 1Gi
