---
- name: Create qbittorrent Deployment
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: qbittorrent
        namespace: jovian-prod
        labels:
          app: qbittorrent
          service: media-backend
      spec:
        progressDeadlineSeconds: 600
        replicas: 1
        revisionHistoryLimit: 3
        selector:
          matchLabels:
            app: qbittorrent
        strategy:
          type: Recreate
        template:
          metadata:
            labels:
              app: qbittorrent
          spec:
            nodeSelector:
              connection: vpn
            containers:
            - name: qbittorrent
              image: ghcr.io/hotio/qbittorrent
              imagePullPolicy: Always
              ports:
              - containerPort: 8080
                name: qbitt-http
                protocol: TCP   
              volumeMounts:
              - name: config
                mountPath: /config
              - name: nfs-media
                mountPath: /nfs-media
              env:
              - name: TZ
                value: 'America/Chicago'
              - name: PUID
                value: '1000'
              - name: PGID
                value: '1000'
              - name: WEBUI_PORTS
                value: '8080/tcp,8080/udp'
            volumes:
            - name: config
              persistentVolumeClaim:
                claimName: qbittorrent-pvc
                readOnly: false
            - name: nfs-media
              persistentVolumeClaim:
                claimName: qbittorrent-smb-media-pvc

- name: Create qbittorrent Service
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: service
      metadata:
        name: qbittorrent-service
        namespace: jovian-prod
      spec:
        selector:
          app: qbittorrent
        ports:
          - port: 8080
            targetPort: qbitt-http
            protocol: TCP
            name: qbitt-http

- name: Create qbittorrent Ingress
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: qbittorrent-ingress
        namespace: jovian-prod
      spec:
        rules:
          - host: qbittorrent.jovian.local.sch-apps.com
            http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name:  qbittorrent-service
                      port:
                        number: 8080

- name: Create qbittorrent PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: qbittorrent-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: k8s-cephfs
        resources:
          requests:
            storage: 1Gi

# https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md#option2-pvpvc-usage
- name: Create the SMB PV
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        annotations:
          pv.kubernetes.io/provisioned-by: smb.csi.k8s.io
        name: qbittorrent-smb-media
      spec:
        capacity:
          storage: 72Ti
        accessModes:
          - ReadWriteMany
        persistentVolumeReclaimPolicy: Retain
        storageClassName: smb-csi-media
        mountOptions:
          - dir_mode=0777
          - file_mode=0777
        csi:
          driver: smb.csi.k8s.io
          # volumeHandle format: {smb-server-address}#{sub-dir-name}#{share-name}
          # make sure this value is unique for every share in the cluster
          volumeHandle: 192.168.100.162/media
          volumeAttributes:
            source: //192.168.100.162/media
          nodeStageSecretRef:
            name: smb-media-manangers
            namespace: jovian-prod

- name: Create qbittorrent SMB PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: qbittorrent-smb-media-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteMany
        storageClassName: smb-csi-media
        resources:
          requests:
            storage: 72Ti
        volumeName: qbittorrent-smb-media
