---
- name: Create tdarr-serv Prod Deployment
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: tdarr-serv
        namespace: jovian-prod
      spec:
        progressDeadlineSeconds: 600
        replicas: 1
        revisionHistoryLimit: 3
        selector:
          matchLabels:
            app: tdarr-serv
        strategy:
          type: Recreate
        template:
          metadata:
            labels:
              app: tdarr-serv
          spec:
            containers:
            - name: tdarr-serv
              image: ghcr.io/haveagitgat/tdarr:latest
              imagePullPolicy: IfNotPresent
              ports:
              - containerPort: 8265
                name: tdarr-web
                protocol: TCP
              - containerPort: 8266
                name: tdarr-server
                protocol: TCP     
              volumeMounts:
              - name: config
                mountPath: /config
              - name: smb-media
                mountPath: /smb-media
              env:
              - name: TZ
                value: 'America/Chicago'
              - name: PUID
                value: '1000'
              - name: PGID
                value: '1000'
            volumes:
            - name: config
              persistentVolumeClaim:
                claimName: tdarr-serv-pvc
                readOnly: false
            - name: smb-media
              persistentVolumeClaim:
                claimName: tdarr-serv-smb-media-pvc
                readOnly: true

- name: Create tdarr-serv Prod PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: tdarr-serv-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: k8s-cephfs
        resources:
          requests:
            storage: 10Gi

- name: Create tdarr-serv Prod Service
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: tdarr-serv
        namespace: jovian-prod
        annotations:
          metallb.io/address-pool: prod-pool
          metallb.io/loadBalancerIPs: 192.168.6.215
      spec:
        externalTrafficPolicy: Local
        ports:
        - port: 8265
          targetPort: tdarr-web
          name: tdarr-web
          protocol: TCP
        - port: 8266
          targetPort: tdarr-server
          name: tdarr-server
          protocol: TCP
        selector:
          app: tdarr-serv
        type: LoadBalancer

- name: Create tdarr-serv Ingress
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: tdarr-serv-ingress
        namespace: jovian-prod
      spec:
        rules:
          - host: tdarr.jovian.local.sch-apps.com
            http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name:  tdarr-serv
                      port:
                        number: 8265

# https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md#option2-pvpvc-usage
- name: Create the tdarr-serv SMB PV
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        annotations:
          pv.kubernetes.io/provisioned-by: smb.csi.k8s.io
        name: tdarr-serv-smb-media
      spec:
        capacity:
          storage: 72Ti
        accessModes:
          - ReadWriteMany
        persistentVolumeReclaimPolicy: Retain
        storageClassName: smb-csi-media
        mountOptions:
          - dir_mode=0777
          - file_mode=0777
        csi:
          driver: smb.csi.k8s.io
          # volumeHandle format: {smb-server-address}#{sub-dir-name}#{share-name}
          # make sure this value is unique for every share in the cluster
          volumeHandle: 192.168.100.162/media
          volumeAttributes:
            source: //192.168.100.162/media
          nodeStageSecretRef:
            name: smb-media-manangers
            namespace: jovian-prod

- name: Create tdarr-serv SMB PVC
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: tdarr-serv-smb-media-pvc
        namespace: jovian-prod
      spec:
        accessModes:
          - ReadWriteMany
        storageClassName: smb-csi-media
        resources:
          requests:
            storage: 72Ti
        volumeName: tdarr-serv-smb-media

version: "3.4"
services:
  tdarr:
    environment:
      - UMASK_SET=002
      - serverIP=0.0.0.0
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - inContainer=true
      - ffmpegVersion=7
      - nodeName=MyInternalNode
      - auth=false
      - openBrowser=true
      - maxLogSizeMB=10
      - cronPluginUpdate=
    volumes:
      - /docker/tdarr/server:/app/server
      - /docker/tdarr/configs:/app/configs
      - /docker/tdarr/logs:/app/logs
      - /media:/media
      - /transcode_cache:/temp